:root {
   --very-dark-magenta: hsl(300, 43%, 22%);
   --soft-pink: hsl(333, 80%, 67%);
   --dark-grayish-magenta: hsl(303, 10%, 53%);
   --light-grayish-magenta: hsl(300, 24%, 96%);
   --blanco: hsl(0, 0%, 100%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   background-image: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg');
   background-repeat: no-repeat, no-repeat;
   background-position: top left, bottom right;
   font-family: 'Spartan', sans-serif;
   font-size: 15px;
}


/* ============ */
/* Mobile First */
.proof {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 8rem 2.2rem 9rem;
}

.proof__heading {
   text-align: center;
   margin-bottom: 4.7rem;
}

.proof__title {
   width: 11ch;
   margin: 0 auto;
   font-size: 3rem;
   line-height: 1;
   color: var(--very-dark-magenta);
}

.proof__info {
   min-width: 27ch;
   max-width: 35ch;
   margin-top: 2rem;
   line-height: 1.5;
   color: var(--dark-grayish-magenta);
}


/* Rating stars section */
.proof__rating-container {
   width: 100%;
   min-width: 32.5rem;
   max-width: 50rem;
   margin-bottom: 5rem;
   text-align: center;
}

.proof__rating {
   margin-bottom: 1.5rem;
   background-color: var(--light-grayish-magenta);
   border-radius: 1rem;
}

/* icono estrella  */
.proof__star {
   display: inline-block;
   width: 16px;
   height: 17px;
   margin: 1.5rem .6rem 1.5rem 0;
   background-image: url('./images/icon-star.svg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.proof__star:last-of-type {
   margin-right: 0;
}

.proof__star-info {
   padding-bottom: 1.5rem;
   font-size: 1.3rem;
   font-weight: 700;
   color: var(--very-dark-magenta);
}



/* Article cards */
.article__card {
   display: flex;
   flex-direction: column;
   min-width: 32.5rem;
   max-width: 40rem;
   height: 24.7rem;
   margin-bottom: 1.5rem;
   padding: 3.8rem 3rem 3.6rem 3rem;
   font-size: 1.3rem;
   background-color: var(--very-dark-magenta);
   color: var(--blanco);
   border-radius: 1rem;
}

.article__header {
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
   line-height: 1.5;
}

.article__picture {
   display: inline-block;
   width: 40px;
   height: 40px;
   margin-right: 2rem;
   border-radius: 50%;
}

/* background images modifier */
.article--colton {
   background-image: url('./images/image-colton.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.article--irene {
   background-image: url('./images/image-irene.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.article--anne {
   background-image: url('./images/image-anne.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.article__info {
   max-width: 10rem;
}

.article__name {
   font-weight: 500;
}

.article__status {
   color: var(--soft-pink);
   opacity: 0.9;
}

.article__review {
   line-height: 1.6;
}



/* =================== */
/* Media Queries */
@media (min-width: 1024px) {
   body {
      background-image: url('./images/bg-pattern-top-desktop.svg'), 
      url('./images/bg-pattern-bottom-desktop.svg');
      background-repeat: no-repeat, no-repeat;
      background-position: top left, bottom right;
      background-size: max(50%, 400px);
   }

   .proof {
      /* margin: 12.8rem 16.4rem 9.8rem 16.4rem; */
      margin-left: 10rem;
      margin-right: 10rem;
   } 
   
   .proof--desktop-part1 {
      display: flex;
      width: 100%;  /*111rem*/ 
   }

   .proof--split {
      width: 50%;
   }

   .proof--desktop-part2 {
      display: flex;
      gap: 1rem;
      width: 100%;
      height: 31rem;
   }

   /* Desktop content styles */
   .proof__heading {
      margin-right: 7rem;
      text-align: left;
   }

   .proof__title {
      margin: 0;
      font-size: 4rem;
   }

   .proof__info {
      max-width: 36ch;
   }

   .proof__rating-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   .proof__rating {
      display: flex;
      align-items: baseline;
      padding-right: 5rem;
   }

   .proof__rating:nth-child(1) {
      transform: translateX(-10rem);
   }

   .proof__rating:nth-child(2) {
      transform: translateX(-3rem);
   }

   .proof__star:first-of-type {
      margin-left: 5rem;
   }

   .proof__star-info {
      margin-left: 3rem;
   }


   /* Article alignment */
   .article__card:nth-child(2) {
      align-self: center;
   }
   
   .article__card:nth-child(3) {
      align-self: flex-end;
   }
}


/* ===================================================
Fix the behavior of proof__rating                     |
when hits 1024px, it overflows proof__heading         | 
section                                               |
   ===================================================
*/